/**
 * 2.0 Media Queries
 * ----------------------------------------------------------------------------
 */



/* WordPress Media Queries */
@media (max-width: 600.98px) {
  #mission .box {
    margin-left: 0px !important;
  }
  #header {
    left: 20px;
  }
  #slide .carousel-inner .slide-action {
    display: none;
  }
}
  
  
  @media (min-width: 601px) and (max-width: 782.98px) {
    #mission .box {
      margin-left: 0px !important;
    }
    #header {
      left: 20px;
    }
    #slide .carousel-inner .slide-action {
      display: none;
    }
  }
  
  
  @media (min-width: 367px) and (max-width: 850px) {
    #mission .box {
      margin-left: 0px !important;
    }
    #header {
      left: 20px;
    }
    #slide .carousel-inner .slide-action {
      display: none;
    }
    #cta .cta h4::after {
      display: none;
    }
    footer .links {
      float: left !important;
    }
    #slide-anothepage h1, 
    #slide-anothepage-service h1, 
    #slide-anothepage-blog h1 {
      font-size: 2rem;
      margin-top: 5rem;
    }
  }
  
  @media (min-width: 783px) {
    #slide .carousel-inner .slide-action {
      transform: translateX(7%);
    }
  }
  
  /* X-Small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) {
    
  }
  
  /* Small devices (landscape phones, 576px, up to 768px) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    
  }
  
  /* Medium devices (tablets, 768px, up to 992px) */
  @media (min-width: 768px) and (max-width: 991.98px) {
   
  }
  
  /* Large devices (desktops, 992px, up to 1200px) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    
  }
  
  /* X-Large devices (large desktops, 1200px, up to 1400px) */
  @media (min-width: 1200px) and (max-width: 1399.98px) {
  
  }
  
  /* XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {
  
  }
  