@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 1rem;
    overflow-x: hidden !important;
   }
  body {
    font-family: 'PT Sans', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-size: 1rem;
    overflow-x: hidden !important;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  a {
    text-decoration: none !important;
  }
  
  p {
    font-weight: 300 !important;
    line-height: 25px !important;
  }
/**********************************************
                        Header
**********************************************/

#header {
  position: fixed;
  top: 30px;
  left: 60px;
  width: 90%;
  background: #fff;
  z-index: 10;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  z-index: 1000;
}
#header .navbar .navbar-brand img {
  max-width: 100%;
  width: 80px;
  max-height: 100%;
}

#header .navbar .navbar-nav a {
  position: relative;
  font-family: 'PT Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem 0;
  margin: 0 1rem;
  color: #494947;
}
#header .navbar .navbar-nav a.btn-give {
  background-color: #F19025;
  color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 30px;
  text-transform: uppercase;
}

/**********************************************
                Menu Sticky
  **********************************************/
  .main-menu {
    display: block !important;
  }

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  visibility: hidden;
  transform: translateY(-100%);
  transition: transform 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
  box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 5%);
  z-index: 991;
}
.sticky-header.sticky-fixed {
  transform: translateY(0);
  visibility: visible;
}
.sticky-header .navbar-brand img {
  max-width: 100%;
  width: 80px;
  max-height: 100%;
  border-radius: 50%;
}
.sticky-header .navbar-nav a {
  margin: 1rem;
  color: #3C3C3C;
}
.sticky-header .navbar .navbar-nav a.btn-give {
  background-color: #F19025;
  color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 30px;
  text-transform: uppercase;
}



/**********************************************
                Slider
**********************************************/
  #slide {
    position: relative;
    width: 100%;
  }
  #slide .carousel-inner .slide-action {
    position: absolute;
    display: block;
    color: #fff;
    z-index: 1;
    top: 35%;
    transform: translateX(25%);
  }
  #slide .carousel-inner .slide-action p{
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 1.5rem;
    color: #F19025;
  }
  #slide .carousel-inner .slide-action h1 {
    font-family: 'PT Sans', sans-serif;
    max-width: 600px;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  #slide .carousel-inner .slide-action .btn-box{
    background-color: #1A9FE0;
    color: #fff;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 40px;
  }
  #slide .carousel-indicators {
    position: absolute;
    flex-direction: column-reverse !important;
    top: 0 !important;
    left: 80% !important;
    right: 0 !important;
    bottom: 0 !important;
    margin-left: 15% !important;
    z-index: 100;
  }
  #slide .carousel-indicators button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  #slide .carousel-indicators button.active {
    height: 15px;
    border-radius: 30px;
    background: #1A9FE0;
  }


/**********************************************
                Features
**********************************************/
#features.feature-one {
  position: relative;
  display: block;

}
#features .feature-one-single {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2rem 0 2rem;
}
#features .feature-one-single img{
  width: 80px;
  margin-right: 2rem;
}
#features.feature-one-single .feature-content {
  color: #fff;
}
#features .feature-one-single .feature-content h3 {
  font-weight: 500;
  color: #494947;
}
#features .feature-one-single .feature-content p {
  font-weight: 300;
  color: #494947;
  text-align: justify;
}
#features .feature-one-single .feature-content span {
  font-weight: 300;
  font-size: 0.8rem;
}


/**********************************************
                Mission
**********************************************/

#mission {
  position: relative;
  background-image: url('images/thm-pattern.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#mission span {
  font-family: 'Dancing Script', cursive;
  font-size: 1.3rem;
}
#mission h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
#mission img {
  border-radius: 30px;
}
#mission .box {
  background: #fff;
  padding: 1.5rem 2rem;
  margin-top: 1.5rem;
  margin-left: -80px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
#mission .box img {
  position: relative;
}
#mission .box h3 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #494947;
}
#mission .box p {
  font-weight: 300;
  line-height: 25px;
}
#mission .box .items .item-o {
  border-right: 1px solid #494947;
}
#mission .box .stack img{
  position: absolute;
  margin-top: -3rem;
  margin-left: -1.6rem;
  max-width: 100%;
  width: 40px;
  max-height: 100%;
}


/**********************************************
                Gallery
**********************************************/
#galery .ratio {position: relative;}
#galery .ratio .overlay {
  position: absolute;
  background: linear-gradient(90deg,rgba(0,0,0,.7490196078) 50%,transparent);
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1 !important;
}
#galery .ratio .description {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 100 !important;
}
#galery .ratio .description span{
  position: absolute;
  font-family: 'PT Sans', sans-serif;
  top: 8rem;
  font-weight: 700;
  color: #fff !important;
}
#galery .ratio .description p {
  font-family: 'PT Sans', sans-serif;
  color: #fff !important;
  padding: 0 2.5rem;
}
.slider-nav {
  bottom: 35px !important;
  z-index: 150 !important;
}


/**********************************************
                Cta
**********************************************/

#cta .cta {
  position: relative;
  background-color: #1A9FE0;
  padding: 5rem 2.5rem;
}
#cta .cta h4 {
  position: relative;
  font-family: 'PT Sans' sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: right;
  color: #fff;
  text-transform: uppercase;
  line-height: 35px;
}

#cta .cta h4::after{
  position: absolute;
  content: "";
  width: 100px;
  height: 4px;
  background: #F19025;
  top: 8rem;
  bottom: 0;
  right: 0;
}
#cta a.btn {
  background-color: #F19025;
  padding: 1rem 2rem;
  margin-top: 4rem;
  color: #fff;
  border: none;
  border-radius: 30px;
  float: right !important;
}


/**********************************************
              Post Recents
**********************************************/

#post-rencent {
  background-color: #ededed;
}
#post-rencent span {
  font-family: 'Dancing Script', cursive;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
#post-rencent h2 {
  font-family: 'PT Sans' sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

#post-rencent .blog-one {
  position: relative;
  display: block;
  margin-top: 1.5rem;
}
#post-rencent .blog-one .blog-one-img {
  position: relative;
  display: block;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 1;
}
#post-rencent .blog-one .blog-one-img .blog-date {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #0B9444;
  color: #fff;
  padding: 11px 20px 0px;
  border-top-left-radius: 15px;
  z-index: 2;
}
#post-rencent .blog-one .blog-content {
  font-family: 'PT Sans' sans-serif !important;
  position: relative;
  display: block;
  background-color: #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 1.4rem 1rem 3rem;
}
#post-rencent .blog-one .blog-content a h4{
  font-weight: 500;
  font-size: 1.2rem;
  color: #494947;
  margin-top: 1rem;
}
#post-rencent .blog-one .blog-content .read {
  font-size: 0.9rem;
  color: #F19025;
  float: right;
  margin-bottom: 2rem;
}


/**********************************************
              About Page
**********************************************/

#slide-anothepage {
  background: url(images/mission.jpeg) center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 70vh;
  background-attachment: fixed;
  color: #fff;
}
#slide-anothepage h1{
  font-family: 'PT Sans' sans-serif !important;
  font-weight: 700;
}
#slide-anothepage span {
  font-family: 'Dancing Script', cursive;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
#about span {
  font-family: 'Dancing Script', cursive;
  color: #F19025;
  font-size: 1.2rem;
}

#about h2 {
  font-family: 'PT Sans' sans-serif !important;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#about .feature-about h3 {
  font-weight: 700;
  font-size: 1.4rem;
}
#about .feature-about img {
  max-width: 100%;
  width: 60px;
  max-height: 100%;
  margin-right: 2rem;
}
#about .stat {
  border-right: 4px solid #7f7f7d;
}
#about .img-about {
  background: url(images/slide1.jpeg) center center no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#abt .box {
  background-color: #ffffff;
  padding: 3rem 2.5rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#abt .box .stack img{
  position: absolute;
  margin-top: -3rem;
  margin-left: -1.6rem;
  max-width: 100%;
  width: 40px;
  max-height: 100%;
}
#abt .box h3 {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#abt .box p{
  margin-bottom: 2rem;
}
#abt .box .btn-v {
  background-color: #1A9FE0;
  color: #ffffff;
  font-size: 0.8rem;
  padding: 0.8rem 1.2rem;
  border-radius: 30px;
}
#abt .box .btn-p {
  background-color: #F19025;
  color: #ffffff;
  font-size: 0.8rem;
  padding: 0.8rem 3rem;
  border-radius: 30px;
}


/**********************************************
              Services Page 
**********************************************/

#slide-anothepage-service {
  background: url(images/activity.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 70vh;
  background-attachment: fixed;
  color: #fff;
}
#slide-anothepage-service .overlay {
  background: #494947;
  width: 100%;
  min-height: 70vh;
  opacity: 0.6;
  z-index: -1;
}
#slide-anothepage-service h1{
  font-family: 'PT Sans' sans-serif !important;
  font-weight: 700;
}
#slide-anothepage-service span {
  font-family: 'Dancing Script', cursive;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
#services .itemsbox-one {
  font-family: 'PT Sans' sans-serif !important;
  background-color: #1A9FE0;
  padding: 2rem 1rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  color: #ffffff;
}
#services .itemsbox-two {
  font-family: 'PT Sans' sans-serif !important;
  background-color: #F19025;
  padding: 2rem 1rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  color: #ffffff;
}
#services .itemsbox-three {
  font-family: 'PT Sans' sans-serif !important;
  background-color: #494947;
  padding: 2rem 1rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  color: #ffffff;
}
#services .itemsbox-one img, 
#services .itemsbox-two img, 
#services .itemsbox-three img {
  max-width: 100%;
  width: 80px;
  max-height: 100%;
}
#services .itemsbox-one h3, 
#services .itemsbox-two h3,
#services .itemsbox-three h3 {
  font-weight: 600;
  font-size: 2rem;
  color: #ffffff;
}
#services .itemsbox-one p,
#services .itemsbox-two p, 
#services .itemsbox-three p {
  font-weight: 500;
}
#services .itemsbox-one a, 
#services .itemsbox-two a, 
#services .itemsbox-three a {
  font-weight: 700;
  color: #ffffff;
}

/**********************************************
              Adding Service
**********************************************/

#adding {
  background: url(images/grey-crowned.jpg);
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
}
#adding .thor {
  font-family: 'PT Sans' sans-serif !important;
  background-color: #1A9FE0;
  padding: 6rem 3rem;
  color: #ffffff;
}
#adding .thor h4 {
  font-weight: 700;
  margin-bottom: 1rem;
}
#adding .thor p {
  font-weight: 300;
}


/**********************************************
              Blog
**********************************************/

#slide-anothepage-blog {
  background: url(images/gulls.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 70vh;
  background-attachment: fixed;
  color: #fff;
  z-index: 10;
}
#slide-anothepage-blog .overlay {
  background: #494947;
  width: 100%;
  min-height: 70vh;
  opacity: 0.6;
  z-index: -1;
}
#slide-anothepage-blog h1{
  font-family: 'PT Sans' sans-serif !important;
  font-weight: 700;
}
#slide-anothepage-blog h1 > span {
  font-size: 4rem;
  color: #1A9FE0;
}
#slide-anothepage-blog span {
  font-family: 'Dancing Script', cursive;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}



/**********************************************
              Single-Post
**********************************************/

#slide-single-post {
  background: url(images/post-1.jpeg) center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 70vh;
  background-attachment: fixed;
  color: #fff;
  z-index: 10;
}
#slide-single-post .overlay {
  background: #494947;
  width: 100%;
  min-height: 70vh;
  opacity: 0.6;
  z-index: -1;
}
#slide-single-post .share {
  margin-top: 25rem;
}
#slide-single-post .share span i{
  color: #ffffff;
  font-size: 1.8rem;
  margin: 1rem;
  z-index: 200;
}
#body-post h1 {
  font-family: 'PT Sans' sans-serif !important;
  font-weight: 700;
  font-size: 2rem;
}
#body-post p {
  font-family: 'PT Sans' sans-serif !important;
  text-align: justify;
}
#body-post .date,
#body-post .author {
  color: #F19025;
}


/**********************************************
              Contact
**********************************************/

#slide-contact {
  background: url(images/features-4\ 1.png) center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 70vh;
  background-attachment: fixed;
  color: #fff;
  z-index: 10;
}
#slide-contact .overlay {
  background: #494947;
  width: 100%;
  min-height: 70vh;
  opacity: 0.6;
  z-index: -1;
}
#slide-contact h1{
  font-family: 'PT Sans' sans-serif !important;
  font-weight: 700;
}
#slide-contact h1 > span {
  font-size: 4rem;
  color: #1A9FE0;
}
#formular .form-control,
#formular .form-select {
  border-color: #494947;
  border-radius: 20px;
}
#formular .btn-send {
  background-color: #F19025;
  padding: 0.8rem 2rem;
  margin-top: 1rem;
  border-radius: 20px;
  color: #fff;
}

#formular .box-give {
  background-color: #1A9FE0;
  padding: 3rem 1rem;
  border-radius: 20px;
  color: #fff;
}
#formular .box-give img {
  max-width: 100px;
  width: 100px;
  max-height: 100%;
}
#formular .box-give p {
  margin: 2rem;
}
#formular .btn-give {
  background-color: #F19025;
  padding: 0.8rem 2rem;
  border-radius: 20px;
  color: #fff;
}

/**********************************************
              Footer
**********************************************/

footer {
  font-family: 'PT Sans' sans-serif !important;
  background-image: url(images/footer_bg.jpeg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
footer img {
  max-width: 100%;
  width: 120px;
  max-height: 100%;
}
footer p {
  font-family: 'PT Sans' sans-serif !important;
  color: #fff;
  font-size: 0.9rem;
  margin-top: 1rem;
  line-height: 25px;
  text-align: justify;
}
footer h3 {
  font-weight: 700;
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
footer .links {
  float: right !important;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer ul li{
  margin-bottom: 1rem;
}
footer ul li a{
  font-size: 0.9rem;
  color: #ffffff;
}
footer ul li a:hover {
  color: #1A9FE0;
}

footer .footer-bottom {
  border-top: 1px solid #ffffff;
  margin-top: 2rem;
}
footer .footer-bottom .copy {
  margin-top: 2rem;
  margin-bottom: 0;
}
footer .footer-bottom .copy p {
  color: #ffffff;
}
footer .footer-bottom .copy ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer-bottom .copy ul li {
  display: inline-block;
  margin: 0 1rem;
}
footer .footer-bottom .copy ul li a{
  font-size: 1.3rem;
}